body{
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100%;
    font-family: 'Futura Bk BT';
}
a,a:hover,a:focus{
    text-decoration: none;
}
ul,li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
input,button,textarea,button:focus,textarea:focus{
    outline: none;
}
.font-18{
    font-size:18px;
    margin-bottom: 0px;
}
.main-element{
        width: 100%;
    background: rgb(174,204,234);
    background-image: url(../images/bg-gradient.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;}
.header-element{
    background:#5961aa;
    padding: 20px 0px;
    text-align: center;
}
.aniamation-element{
    margin: 0px auto;
    position: absolute;
    top:60%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height:500px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
@media(min-width:767px){
.aniamation-element{
    width: 600px;
    }
}
.animation-block{
      position: relative;
    width: 100%;
    height: 100%;
    }

.header-block{
    padding: 0px;
    margin: 0px;
}
.header-block a{
    padding:0px 15px;
    display: inline-block;
}
.header-block a img{
    max-width: 100%;
}
.logo-block{
    display: inline-block;
    width:150px;
}
.logo-block img{
    max-width: 100%;
}

.image-block
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.clockwiseSpin img{
    -webkit-animation: clockwiseSpin  20s infinite linear;
    animation: clockwiseSpin  20s infinite linear;
        transform-box: fill-box;
    transform-origin: center;
}

.antiClockwiseSpin img{
    -webkit-animation: antiClockwiseSpin 20s infinite linear;
    animation: antiClockwiseSpin 20s infinite linear;
        transform-box: fill-box;
    transform-origin: center;

}
.image-fix
{
    max-width: 100%;
}
@keyframes antiClockwiseSpin {
	0%  {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}	
}
@keyframes clockwiseSpin  {
	0%  {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}	
}
.bg-element{
    background-color: #f2f4f6;
   position: absolute;
   width:100%;
   height: 100%;
     background-image: url(../2-circle.svg);
    background-repeat: no-repeat;
    background-position: 85% 110%;
    background-size: 270px;
}
/* @media(min-width:767px){
    .bg-element{
        height: 100vh;
    }
} */


.svg-icon{
        width: 200px;
    height: 200px;
}
    .svg-icon image {
     -webkit-animation: circleClockwiseSpin 20s infinite linear;  
     animation: circleClockwiseSpin 20s infinite linear;
    
     transform-origin: center;
    transform-box: fill-box;
    width: 100%;
    height: 100%;
    }   

    @keyframes circleClockwiseSpin {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}   
}

/*inner page css*/


      .primary-color{
        color:#5963a3;
      }
      .heading-block{
        font-size: 36px;
     }
      @media(min-width:767px){
        .heading-block{
            font-size: 80px;
            margin-left: -55px;
            margin-bottom: -19px;
         }
      }
      
      .line-box{
        border-left:transparent;
        padding: 0px 0px;
      }
      @media(min-width:767px){
      .line-box{
        border-left:7px solid #5963a3;
        padding: 70px 0px 40px;
        margin-top: -55px;
        
      }
    }
    @media(min-width:767px){
        .about-content.line-box{
            margin-top: -80px;
            padding-top: 100px;
        }
            
      }
  
      .ml-9{
          margin-left: 9px;
      }
      
        @media(min-width:767px){
            .ml-33{
                margin-left: 33px;
            }
        }

        @media(min-width:767px){
        .ml-54{
            margin-left: 54px;
        }
    }
      .width-700{
          max-width:720px;
      }

.list-block{
  position: relative;
}
.listing-block{
  position: absolute;
  transition: 0.3s ease-in-out;
   width: 200px;
    height: 200px;
}
.listing-block a{
  position: absolute;
  color:#fff;
   width: 100%;
    font-size: 20px;
    text-decoration: none;
}
.shape-one{
 left: 0;
    clip-path: polygon(70% 67%, 0 66%, 19% 100%);
    -webkit-clip-path: polygon(70% 67%, 0 66%, 19% 100%);
    top: 145px;
    display: inline-block;
   
    background: rgba(40, 52, 138, 0.80);
}
.shape-one a{
     
    bottom: 35px;
    left: 25px;
    
}
.shape-one:hover{
  clip-path: polygon(100% 57%, 0 66%, 19% 100%);
  -webkit-clip-path: polygon(100% 57%, 0 66%, 19% 100%);
   background: rgba(40, 52, 138, 1);
}
.shape-two{
    clip-path: polygon(2% 41%, 45% 81%, 45% 39%);
    -webkit-clip-path: polygon(2% 41%, 45% 81%, 45% 39%);
        background: rgba(206, 214, 109, 0.80);
    left: 60px;
    top: 12px;
}
@media(min-width:767px){
    .shape-two{
        left: 180px;
        top: -50px;
    }
}

.shape-two a{
      left: 25px;
    bottom: 85px;
}
.shape-two:hover{
 clip-path: polygon(2% 41%, 45% 100%, 45% 39%);
 -webkit-clip-path: polygon(2% 41%, 45% 100%, 45% 39%);
  background: rgba(206, 214, 109, 1);
}
.shape-three{
  clip-path: polygon(98% 32%, 86% 55%, 25% 46%, 66% 15%);
  -webkit-clip-path: polygon(98% 32%, 86% 55%, 25% 46%, 66% 15%);
  background: rgba(64, 190, 219, 0.80);
  right: 50px;
    top: 45px;

}
@media(min-width:767px){
    .shape-three{
        right: 64px;
        top: 70px;    
    }
}
.shape-three a {
    right: 18px;
    bottom: 112px;
    text-align: right;
}
.shape-three:hover{
 clip-path: polygon(98% 32%, 86% 55%, 25% 80%, 66% 15%);
 -webkit-clip-path: polygon(98% 32%, 86% 55%, 25% 80%, 66% 15%);
 background: rgba(64, 190, 219,1);
}
.shape-fourth{
  clip-path: polygon(86% 84%, 9% 83%, 24% 51%, 70% 63%);
  -webkit-clip-path: polygon(86% 84%, 9% 83%, 24% 51%, 70% 63%);
  background: rgba(243, 207, 103, 0.80);
     right: -13px;
    top: 120px;

}
@media(min-width:767px){
    .shape-fourth{
        right: 20px;
        top: 157px;  
    }
}
.shape-fourth:hover{
       clip-path: polygon(86% 84%, 18% 85%, 29% 44%, 60% 56%);
       -webkit-clip-path: polygon(86% 84%, 18% 85%, 29% 44%, 60% 56%);
       background: rgba(243, 207, 103, 1);
}
.shape-fourth a {
      right: 15px;
    bottom: 42px;
    text-align: center;
}
.shape-five{
      clip-path: polygon(73% 82%, 5% 83%, 32% 50%, 39% 50%);
      -webkit-clip-path: polygon(73% 82%, 5% 83%, 32% 50%, 39% 50%);
        background: rgba(138, 30, 116, 0.8);
    
    right: 70px;
    top: 245px;
}
@media(min-width:767px){
    .shape-five{
        right: 160px;
        top: 280px;
    }
}
.shape-five:hover{
   clip-path: polygon(86% 84%, 9% 83%, 24% 51%, 70% 63%);
   -webkit-clip-path: polygon(86% 84%, 9% 83%, 24% 51%, 70% 63%);
   background: rgba(138, 30, 116, 1);
}
.shape-five a {
        right: 26px;
    bottom: 36px;
    text-align: center;
}

/* servicepage */
.list-block li{
    font-size: 24px;
    line-height: 40px;
}
.vertical-boader{
    height: 100%;
    width: 3px;
    background: #5963a3;
    margin: 0px auto;
}
.client-element{
    padding: 0px 20px;
    }
@media(min-width:767px){
    .client-element{
        padding: 0px 60px;
        }
    } 
.client-block {
    background: #fff;
    text-align: center;
    margin: 0px 15px;
    display: flex !important;
    height: 200px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    outline: none;
    transition:0.3s  ease-in-out;
}
.client-block:hover{
    box-shadow: 0px 0px 9px -1px #ccc;
}
 .client-block img{
    max-width: 100%;
}

.client-element .slick-prev{
    left: 10px;
    border-right: 20px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.client-element .slick-next{
    right:10px;
    border-left: 20px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
@media(min-width:767px){
    .client-element .slick-prev{
        left: 30px;
       
    }
    .client-element .slick-next{
        right:30px;
    }
    }
.client-element .slick-prev:before,.client-element .slick-next:before{
    font-size:0px;
}

/* contact-page */
.
.contact-bg{
    height:auto;
}
@media(min-width:767px){
    .contact-bg{
        height:100%;
    }   
}
.contact-form{
    position: relative;
    z-index: 99;
}
.social-list
{
    display:flex;
    padding:15px 0px;
}
.social-listing{
    padding-right: 10px;
}
.social-link{
    border:2px solid #5963a3;
    width:30px;
    height: 30px;
    color:#5963a3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s ease-in;
}
.social-link:hover,.social-link:focus{
    background-color:#5963a3;
    color:#fff;
}
.input-element{
    width: 100%;
    border:1px solid #f9f9f9;
    color:#ccc;
    padding: 5px 10px;
}
.input-element::placeholder{
    color:#ccc;
}
.textarea-element{
    height: 120px;
}
.submit-btn{
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 20px;
    position: relative;
    outline: none;
    width:100px;
    transition: 0.2s ease-in-out;
    z-index: 99;
}
.submit-btn::before{
    content: '';
    position: absolute;
    left: 0;
    background: #5963a3;
    width:0%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.submit-btn::after{
    content: "";
    right: -20px;
    border-left: 20px solid #5963a3;
    border-top: 10px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 4px;
    transition: 0.3s ease-in-out;
    z-index: -1;

}
.submit-btn:hover{
    color:#fff;
}
.submit-btn:hover.submit-btn::before{
    width:100%;
}
.submit-btn:hover.submit-btn::after{
    right:-10px;
    top:5px;
}
/* .animation-clock{
    position: absolute;
    bottom: 0px;
    right:150px;
    width:250px;
    height: auto;
}
.animation-clock image.clockwise{
    -webkit-animation: antiClockwiseSpin 20s infinite linear;
    animation: antiClockwiseSpin 20s infinite linear;
        transform-box: fill-box;
    transform-origin: center;
  width:120px;
  height:120px;
 
 }
 .animation-clock image{
    -webkit-animation: clockwiseSpin 20s infinite linear;
    animation: clockwiseSpin 20s infinite linear;
    transform-box: fill-box;
    transform-origin: center;
    width: 250px;
    height: 112px;
 } */
 
