body{
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100%;
    font-family: 'Futura Bk BT';
}
.font-18{
    font-size:18px;
}
.main-element{
        width: 100%;
    background: rgb(174,204,234);
    background-image: url(../images/bg-gradient.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;}
.header-element{
    background:#5961aa;
    padding: 20px 0px;
    text-align: center;
}
.aniamation-element{
    width: 600px;
    margin: 0px auto;
    position: absolute;
    top:60%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height:500px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;     
}
 .animation-block{
      position: relative;
    width: 100%;
    height: 100%;
    }

.header-block{
    padding: 0px;
    margin: 0px;
}

.image-block
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.clockwiseSpin img{
    -webkit-animation: clockwiseSpin  20s infinite linear;
    animation: clockwiseSpin  20s infinite linear;
        transform-box: fill-box;
    transform-origin: center;
}

.antiClockwiseSpin img{
    -webkit-animation: antiClockwiseSpin 20s infinite linear;
    animation: antiClockwiseSpin 20s infinite linear;
        transform-box: fill-box;
    transform-origin: center;

}
.image-fix
{
    max-width: 100%;
}
@keyframes antiClockwiseSpin {
	0%  {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}	
}
@keyframes clockwiseSpin  {
	0%  {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}	
}
.bg-element{
    background-color: #f2f4f6;
    height: 100vh;
    background-image: url(../images/bottom-img.png);
    background-repeat: no-repeat;
    background-position: 85% 110%;
}

.svg-icon{
        width: 200px;
    height: 200px;
}
    .svg-icon image {
     -webkit-animation: circleClockwiseSpin 20s infinite linear;  
     animation: circleClockwiseSpin 20s infinite linear;
    
     transform-origin: center;
    transform-box: fill-box;
    width: 100%;
    height: 100%;
    }   

    @keyframes circleClockwiseSpin {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}   
}

/*inner page css*/


      .primary-color{
        color:#5963a3;
      }
      .heading-block{
         font-size: 80px;
         margin-left: -55px;
         margin-bottom: -19px;

      }
      .line-box{
        border-left:5px solid #5963a3;
        padding: 40px 0px;
      }
      .mr-54{
          margin-left: 54px;
      }
      .width-700{
          max-width:700px;
      }

.list-block{
  position: relative;
}
.listing-block{
  position: absolute;
  transition: 0.3s ease-in-out;
   width: 200px;
    height: 200px;
}
.listing-block a{
  position: absolute;
  color:#fff;
   width: 100%;
    font-size: 20px;
    text-decoration: none;
}
.shape-one{
 left: 0;
    clip-path: polygon(70% 57%, 0 66%, 19% 100%);
    top: 145px;
    display: inline-block;
   
    background: rgba(40, 52, 138, 0.80);
}
.shape-one a{
     
    bottom: 35px;
    left: 25px;
    
}
.shape-one:hover{
  clip-path: polygon(100% 57%, 0 66%, 19% 100%);
   background: rgba(40, 52, 138, 1);
}

.shape-two{
    clip-path: polygon(2% 41%, 45% 81%, 45% 39%);
        background: rgba(206, 214, 109, 0.80);
    left: 180px;
    top: -50px;
}
.shape-two a{
      left: 28px;
    bottom: 90px;
}
.shape-two:hover{
 clip-path: polygon(2% 41%, 45% 100%, 45% 39%);
  background: rgba(206, 214, 109, 1);
}
.shape-three{
  clip-path: polygon(98% 32%, 86% 55%, 25% 46%, 66% 15%);
  background: rgba(64, 190, 219, 0.80);
       right: 64px;
    top: 70px;

}
.shape-three a {
    right: 16px;
    bottom: 106px;
    text-align: right;
}
.shape-three:hover{
 clip-path: polygon(98% 32%, 86% 55%, 25% 80%, 66% 15%);
 background: rgba(64, 190, 219,1);
}
.shape-fourth{
  clip-path: polygon(86% 84%, 9% 83%, 24% 51%, 70% 63%);
  background: rgba(243, 207, 103, 0.80);
    right: 20px;
    top: 157px;

}
.shape-fourth:hover{
       clip-path: polygon(86% 84%, 18% 85%, 29% 44%, 60% 56%);
       background: rgba(243, 207, 103, 1);
}
.shape-fourth a {
      right: 15px;
    bottom: 42px;
    text-align: center;
}
.shape-five{
      clip-path: polygon(66% 82%, 5% 83%, 32% 50%, 39% 50%);
        background: rgba(138, 30, 116, 0.8);
    right: 160px;
    top: 280px;
}
.shape-five:hover{
   clip-path: polygon(86% 84%, 9% 83%, 24% 51%, 70% 63%);
   background: rgba(138, 30, 116, 1);
}
.shape-five a {
      right: 15px;
    bottom: 42px;
    text-align: center;
}